* {
    error: #ff6048;
    on-tertiary: #040e0d;
    inverse-surface: #f5e2c5;
    tertiary-container: #0f211f;
    source-color: #7ad9a8;
    background: #0a1816;
    surface-variant: #0f211f;
    surface-container-lowest: #040e0d;
    secondary-fixed: #e89aa8;
    inverse-primary: #7ad9a8;
    surface-container: #0f211f;
    surface-container-high: #152a26;
    on-secondary-fixed-variant: #0a1816;
    on-secondary-container: #e89aa8;
    on-tertiary-container: #5fc8d4;
    surface-bright: #1d3631;
    inverse-on-surface: #040e0d;
    tertiary-fixed-dim: #40a8b4;
    tertiary-fixed: #5fc8d4;
    on-secondary: #040e0d;
    surface-tint: #7ad9a8;
    primary-fixed-dim: #5cb88a;
    surface-container-highest: #1d3631;
    outline-variant: #152a26;
    secondary-container: #0f211f;
    on-tertiary-fixed-variant: #0a1816;
    surface-dim: #0a1816;
    on-primary-container: #7ad9a8;
    on-primary-fixed: #040e0d;
    shadow: #000000;
    on-primary: #040e0d;
    on-tertiary-fixed: #040e0d;
    secondary: #e89aa8;
    on-error-container: #ff6048;
    on-surface: #f5e2c5;
    surface-container-low: #0a1816;
    scrim: #000000;
    on-error: #040e0d;
    on-primary-fixed-variant: #0a1816;
    primary-container: #0f211f;
    primary-fixed: #7ad9a8;
    tertiary: #5fc8d4;
    secondary-fixed-dim: #c77a88;
    primary: #7ad9a8;
    outline: #5a4d3e;
    error-container: #0f211f;
    on-surface-variant: #c4b09a;
    surface: #0a1816;
    on-secondary-fixed: #040e0d;
}
